$line-width: 8px;

.tile {
  width: 100%;
  height: 100%;
  position: absolute;
  border-color: inherit;
  overflow: hidden;
  cursor: pointer;

  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    content: "";
  }

  &--empty {
  }

  &--end {
    &:before {
      height: 50%;
      position: absolute;
      top: 0;
      left: calc(50% - #{$line-width / 2});
      border-left-width: $line-width;
      border-left-style: solid;
      border-color: inherit;
    }

    &:after {
      width: $line-width;
      height: $line-width;
      position: absolute;
      top: calc(50% - #{$line-width * 1.5});
      left: calc(50% - #{$line-width * 1.5});
      border-width: $line-width;
      border-style: solid;
      border-color: inherit;
      border-radius: 50%;
      background-color: white;
    }
  }

  &--corner {
    &:before {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      top: calc(-50% + #{$line-width / 2});
      left: calc(50% - #{$line-width / 2});
      border-width: $line-width;
      border-style: solid;
      border-color: inherit;
      border-radius: 45%;
    }
  }

  &--straight {
    &:before {
      height: 100%;
      position: absolute;
      top: 0;
      left: calc(50% - #{$line-width / 2});
      border-left-width: $line-width;
      border-left-style: solid;
      border-color: inherit;
    }
  }

  &--fork {
    &:before {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      top: calc(-50% + #{$line-width / 2});
      left: calc(50% - #{$line-width / 2});
      border-width: $line-width;
      border-style: solid;
      border-color: inherit;
      border-radius: 45%;
    }

    &:after {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      top: calc(50% - #{$line-width / 2});
      left: calc(50% - #{$line-width / 2});
      border-width: $line-width;
      border-style: solid;
      border-color: inherit;
      border-radius: 45%;
    }
  }

  &--cross {
    &:before {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      top: calc(-50% + #{$line-width / 2});
      left: calc(50% - #{$line-width / 2});
      border-width: $line-width;
      border-style: solid;
      border-color: inherit;
      border-radius: 45%;
    }

    &:after {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      top: calc(50% - #{$line-width / 2});
      left: calc(-50% + #{$line-width / 2});
      border-width: $line-width;
      border-style: solid;
      border-color: inherit;
      border-radius: 45%;
    }
  }

  &--rotation-0 {
    transform: rotate(0deg);
  }

  &--rotation-1 {
    transform: rotate(90deg);
  }

  &--rotation-2 {
    transform: rotate(180deg);
  }

  &--rotation-3 {
    transform: rotate(270deg);
  }
}
